@import 'tailwindcss';

@font-face {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: normal;
  src: local('Helvetica'), url('/fonts/Helvetica.woff') format('woff');
}

@font-face {
  font-family: 'Odor Mean Chey';
  font-style: normal;
  font-weight: normal;
  src: local('Odor Mean Chey'), url('/fonts/OdorMeanChey.ttf') format('truetype');
}

@theme {
  --font-sans: 'Helvetica', 'Arial', 'sans-serif';
  --font-logo: 'Odor Mean Chey', 'Helvetica', 'Arial', 'sans-serif';

  --color-neutral-850: oklch(25.4% 0 0);
}

body {
  @apply font-sans bg-neutral-850 text-neutral-200;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-medium tracking-normal;
}

p {
  @apply text-neutral-200 leading-snug font-sans;
}

form {
  @apply m-0;
}

textarea,
select,
input,
button,
button:focus,
button:focus-visible {
  @apply outline-none;
}
